.wrapper {
    background: linear-gradient(90deg,#cb11ab,#481173);
    padding-top: 10px;
    padding-bottom: 30px;
    position: sticky;
    top: 0;
}

.text {
    color: white;
    font-weight: bold;
    font-size: 30px;
    margin-left: 10%;
}
