.wrapper {
    background: linear-gradient(90deg,#cb11ab,#481173);
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    bottom: 0;
    left: 0;
    width: 100%

}

.text {
    display: block;
    color: white;
    font-weight: lighter;
    font-size: 20px;
}

.dop{
    border-radius: 0 0 24px 24px;
    height: 20px;
    position: relative;
    width: 100%;
    background-color: #cccbc8;
    top: -15px
}

/* @media print {
    .wrapper {
        display: none;
    }
} */




